/* navbar.css */
  

  .para_head {
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  }
  
  .text-link {
    color: white;
    font-size: 16px;
  }
  
  .text-link:hover {
    color: white;
    font-size: 17px;
  }
  
  .logo-span {
    color: rgb(223, 42, 189);
    font-weight: bolder;
    font-size: 25px;
  }

   

  .navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
  }
  .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
  }
  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  }
  .dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
  }
  .dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
    color: rgb(113, 113, 218);
  }
  .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color:black
  }
  .dropdown-menu li:first-child a:hover {
    background-color: #f1f1f1;
    color: rgb(113, 113, 218);
  }
  @media only screen and (max-width: 992px) {
    .dropdown-menu.show {
      flex-wrap: wrap;
      max-height: 350px;
      overflow-y: scroll;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
      width: 40vw;
      flex-wrap: wrap;
    }
  }
  
  .drop{
    flex-direction: column;
    border-radius:2px;
    
  }
  
  .total_style {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
  }
  

  
  .utility__phone-msg {
    font-size: 1.1rem;
    padding-top: 0.45rem;
    text-align: left;
    margin-left:5px;
  }
  
  .travel__expert {
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
  }

/*login-style */ 

.login-style {
  border: 2px solid rgb(129, 185, 207);
  border-radius: 5px;
  padding: 5px;
 
}
.login-style:hover{
  background-color: white;
  border:none;
  font-weight: bold;
  box-shadow: 5px 4px 8px 3px #888888;

}
.icon-user{
  color: rgb(45, 100, 122);
}